.app {
  text-align: center;
  padding: 20px;
  background-color: #00ff0076;
}

h1 {
  font-size: 34px;
  margin-bottom: 40px;
  color: #ff00f2d0;
}

.timePicker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.label {
  flex: 1;
  font-size: 20px;
  text-align: center;
}

.input {
  flex: 1;
  height: 30px;
  width: 50px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #d8d8d8;
  border-radius: 15px 30px;
  margin: 0 5px;
}

